.restaurant {
    background-color: #f6f6f6;
    padding-bottom:40px;
    h2 {
        padding-left: 20px;
        padding-top: 40px;
    }
}

.card {
    position: relative;
    background-color: #ffffff;
    min-width: 320px;
    max-width: 340px;
    height: 250px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 20px;
    border-radius: 20px;
    margin: 20px;
    @include delay();
    &:hover {
        box-shadow: 0 0 5px rgba(0,0,0,0.7);
        .heart-icon2{
            animation: fill-up 1s ease-in forwards; 
        }
    }
    .card__image {
        width: 100%;
        height: 175px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
        object-position: 60% 60%;
    }
    .card__info-new {
        position:absolute;
        color:#008766;
        top:20px;
        right: 20px;
        width: 80px;
        padding: 5px;
        height: 30px;
        text-align: center;
        vertical-align: middle;
        background-color:$color-tertiary;
        border-radius: 5px;
    }
    .card__info {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        padding-left: 5px;
        h4 {
            margin-top: 3px;
            font-size: 1.1em;
            font-weight: 300;
        }
        .card__info-heart {
            position: relative;
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 14px;
            .heart-icon1 {
                font-size: 1.3em;
            }
            .heart-icon2 {
                position:absolute;
                top:0.04em;
                left:0.088em;
                font-size:1.1em;
                opacity:0;
                &:hover {
                    animation: fill-up 1s ease-in forwards; 
                }
            }
        }
    }
}

@keyframes fill-up {
    0% {
        color: #ffffff;
        opacity: 0;
    }
    100% {
        opacity: 1;
        color:#d065db;
    }
}
