/**menu-section**/
.menus {
    background-color:$background-color;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -50px;
    padding: 10px 15px;
    .menus__title {
        display:flex;
        justify-content: space-between;
        margin-top: 18px;
        h1 {
            font-family: 'Shrikhand', cursive;
        }
    }
    .heart__icon {
        font-size: 1.5em;
        margin-top: 10px;
        margin-right: 30px;
    }
}

/**entrées-plats-dessert**/
.choice {
    .choice__tittle {
        position: relative;
        margin-bottom: 20px;    
        margin-top: 40px;
        h3 {
            text-transform: uppercase;
            font-weight: 300;
        }   
    }
    .border__bottom:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -15;
        height: 5px;
        width: 50px;
        border-bottom: 3px solid $color-tertiary;
        
    }
}

.choice__menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow:hidden;
    min-width: 330px;
    max-width: 345px;
    height: 70px;
    margin-top: 15px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px 1px #ccc;
    .choice__card__info {
        margin-left: 10px;
        h4 {
            line-height: 1.8em;
        }
        p {
            font-size: 0.9em;
            font-weight: 300;
        }
    }
    .choice__card__price {
        position: absolute;
        left:85%;
        margin-top: 30px;
        font-weight: 500;
        margin-right: 20px;  
    }
}

/**command-button**/
.command__button {
    @include flex-center;
    @include btn;
    &:hover {
        background: linear-gradient(176deg, rgba(238,115,218,1) 10%, rgba(187,99,219,1) 66%, rgba(176,95,220,1) 107%, rgba(173,94,220,1) 200%);
    @include delay();
    }
}
