.footer {
    padding: 20px;
    height: 200px;

    font-size: 0.9em;
    background-color: #353535;
    color: #ffffff;
    h2 {
        font-family: 'Shrikhand', cursive;

        font-weight: lighter;
        font-size: 1.2em;
    }
    .footer__icon {
        margin-right: 10px;
        
        font-size: 0.9em;
        color: #ffffff;
    }
    .footer__icon.fas.fa-utensils {
        margin-right: 12px;
    }
    li, address {
        font-style: normal;
        @include delay;
        &:hover {
            color: #99E2D0;
        }
    }
}

/*-------------------------medias-queries-------------------------*/

@media all and (min-width: 400px) {
    .footer {
        h2, ul {
            display: flex;
            justify-content:center;
        }
        ul {
            margin-top: 50px;
        }
    }
}
    
@media all and (min-width: 500px) {
    .footer {
        h2, ul {
            display: flex;
            justify-content:space-around;
        }
    }
}