.loc {
    @include flex-center;
    background-color: #eaeaea;
    color: #4b4b4b;
    height: 50px;
    font-size: 1em;
    p {
        margin-left: 15px;
        font-weight: bolder;
        padding-right: 25px;
    }
    a {
        display: flex;
    }
}

