.menu {
    display: flex;
    flex-direction: column;
    height: 298px;
    background-color: #f6f6f6;
    padding: 0 35px;
    .menu__title {
        text-align: center;
        padding-top: 42px;
    }
    .menu__p {
        text-align: center;
        padding-top: 20px;
        color: #7d7d7d;
        font-size: 1.1em;
    }
    .menu__button {
        border-radius: 30px;
        color:white;
        font-size: 0.9em;
        font-weight: bold;
        letter-spacing: 0.01em;
        margin:auto;
        margin-top: 40px;
        width: 220px;
        padding: 16px 0;
        border:none;
        cursor: pointer;
        box-shadow: 2px 5px 8px 2px #ccc;
        background: linear-gradient(173deg, rgba(232,114,218,1) 0%, rgba(192,101,219,1) 51%, rgba(168,93,219,1) 100%);    
        @include delay();
        &:hover {
            transform: scale(1.1);
        }    
    }
}