.check {
  opacity:0;
}
  
.choice__menus:hover {
&::before {
  content:'';
  background:#99E2D0;
  position:absolute;
  width: 100px;
  height: 100px;
  left:100%;
  animation: move-left 0.8s ease-in-out forwards;
  }
  
  span {
    display: inline-block;
    animation: price-move-left 0.8s ease-in-out forwards;
  }

  .check {
    color: #ffffff;
    font-size: 1.5em;
    opacity:1;
    z-index:5;
    position:absolute;
    left:118%;
    animation: check-move-left 0.8s ease-in-out forwards; 
  }

  p {
    animation: p-move-left 0.8s ease-in-out forwards; 
  }

}
  
@keyframes move-left {
  0% {
    transform:translateX(0%)
  }
  100% {
    transform:translateX(-70%)
  }
}
  
@keyframes price-move-left {
  0% {
    transform:translateX(0%)
  }
  100% {
    transform:translateX(-200%)  
  }
}
  
@keyframes check-move-left {
  0% {
    transform:translateX(0%), rotate(360deg)
  }
  50% {
    transform:translateX(0%), rotate(0deg)
  }
  100% {
    transform:translateX(-450%) rotate(720deg)
  }
}

@keyframes p-move-left {
  0% {
    width: 240px;
  }
  100% {
    width: 210px;
  }
}