.menu {
    display: flex;
    flex-direction: column;
    height: 298px;
    background-color: #f6f6f6;
    padding: 0 35px;
    .menu__title {
        text-align: center;
        padding-top: 42px;
    }
    .menu__p {
        text-align: center;
        padding-top: 20px;
        color: #7d7d7d;
        font-size: 1.1em;
    }
    .menu__button {
        @include btn;
        margin-top: 40px;
        width: 220px;
        padding: 16px 0;
        background: linear-gradient(173deg, rgba(255,122,239,1) 0%, rgba(208,101,219,1) 51%, rgba(168,93,219,1) 100%); 
        @include delay();
        &:hover {
            background: linear-gradient(173deg, rgba(255,122,239,1) 10%, rgba(208,101,219,1) 71%, rgba(168,93,219,1) 120%); 
            box-shadow: 2px 7px 10px 5px #ccc;
        }    
    }
}