.header__menu {
    position: relative;
    text-align: center;
    vertical-align: middle;

    height: 65px;
    width: 100%;
    padding-top: 20px;
    margin-right: 20px;
    img {
        height: 25px;
        width: 163px;
        margin-right: 20px;
    }
    .return {
        float: left;
        margin-left: 20px;

        font-size: 1.3em;
    }
}

/*-------------------------medias-queries-------------------------*/

@media all and (min-width: 400px) {
    .header__menu {
        box-shadow: 0px 4px 3px #353535;
    }
}